/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img { 
    max-width: 100%;     
}

/* general */

bodY{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* header */

 .background { 
    color: white;
    background-image: url(../img/jumbo.png);    
    background-size: cover;
    background-position: center left ;   
           
 }

/* header-top */
.container-ht {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;    
}

.header-top {    
    display: flex;
    justify-content: space-between;
}

.container-logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.link {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex-grow: 3;    
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
    width: 60%;
}

a { 
    color: white;
    text-decoration: none;
}

.container-login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.login {
    text-align: end;
    color: black;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    
}

/* header-bottom */

.container-hb {    
    margin-top: 3.5rem;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    margin-bottom: 1rem;
}

.content-hb {
    font-size: 1.5rem;
}

h1{
    font-size: 4rem;
}

.action{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.button-white{
    background-color: white;
    color: black;
    
}

.button-black {
    background-color: #23272a;    
}

.button{
    border-radius: 2rem;    
    padding: 1rem;    
}

.button-download{
    background-color: lightskyblue;

}
     


/* section 1 */
 .container-white {
    padding: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    background-color: white;
    display: flex ;
 }

.content-big {
    width: 60%;    
}

.content-small {    
    width: 40%;     
    padding-top: 1.5rem;
    font-size: 1.5rem;    
}

h2{
    font-size: 3rem;
    margin-bottom: 1.5rem ;
}

.container-grey {
    padding: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    background-color: lightgray;
    display: flex ;
}

.content-total {
    text-align: center;               
}

.container-last { 
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.content-last {
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.button-download{
    color: white;
}


/* footer */
/* top */
.footer-top {
    
    background-color: #1f1f1f;
    padding-top: 3rem;
    padding-left: 20%;
    padding-right: 20%;    
    padding-bottom: 1rem;
    display: flex;

}

.red {
    width: 50%;
}



h3{
    font-size: 2rem; 
    margin-bottom: 1rem;
    
}

.lenguage {
    display: inline-block;
    font-size: 0.7rem;
    height: 1rem;
    line-height: 1rem;
    color: white;
}

.ico { 
    font-size: 1rem;
    padding: 0.5em; 

}

/* bottom */

.footer-bottom {
    background-color: #1f1f1f;
    padding-top: 0.5rem;           
    padding-bottom: 1rem;    
}

.container-fb {
    background-color: aquamarine; 
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content-fb {
    display: flex;
    justify-content: space-between;
    
}

.ending {
    background-color: lightcoral;
    border: 1px dashed black;
}

.footer-big-title {
    color: #7289da ;
}

.footer-links {
    display: flex;
    justify-content: space-between;    
}

.footer-links div {
    width: 25%;
}


li {
    list-style: none; 
    color: white;
    margin-bottom: 1rem;
}

h4 { color: #7289da;
    font-size: 1.2rem;
}